<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; chaset=UTF-8">
  <body>
    <table>
      <tr>
        <th>スペル</th>
        <th>意味</th>
      </tr>
      {% if words %}
        {% for word in words %}
        <tr>
          <td>{{ word.spelling|escape }}</td>
          <td>{{ word.meaning|escape }}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>

    <form action="/words" method="post">
      <div><textarea name="content" rows="30" cols="40"></textarea></div>
      <div><input type="submit" value="Add words"></div>
    </form>
  </body>
</html>
